body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    margin-left: 1px;
    margin-right: 1px;
    height: 100%;
    background-color: #f0f0f0;
}

#wrapper {
    background: snow;
}

a:link {
    color: dodgerblue;
}

a:visited {
    color: indigo;
}

a:active {
    color: orangered;
}

main, nav, footer {
    min-width:300px;
}

main::after {
    content: '';
    height: 50px;
    display: block;
}

aside, nav > section, footer > section {
    padding: 15px 15px 15px 12px !important;
    text-align: left;
}

footer {
    clear: both;
    position: relative;
    bottom: 0px;
}

aside {
    background-color: lightyellow;
    border-left: 3px solid orange;
    font-size: 0.8em;
    line-height: 1.3em;
    margin-bottom: 15px;
}

aside.warning, aside.danger {
    background-color: pink;
    border-left: 3px solid red;
}

aside.danger {
    font-size: inherit;
    line-height: inherit;
}

nav > section {
    background-color: #f0f0f0;
    border-left: 3px solid green;
}

footer > section {
    background-color: #f0f0f0;
    border-top: 3px solid green;
    padding: 15px 15px 50px 12px !important;
}

nav.site-nav {
    margin-bottom: 15px
}

nav.site-nav  > section > h1 {
    font-size: 1.2em;
    line-height: 1.2em;
    margin-top: 0px;
    padding-top: 0px;
}

nav.site-nav  > section > p {
    font-size: 0.8em;
    line-height: 1.3em;
    margin-top: 0px;
    padding-top: 0px;
}

nav.site-nav > section > ul {
    list-style: none;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0px;
    padding-left: 0px;
    float: right;
    position: absolute;
    top: 0px;
    right: 15px;
}

nav.site-nav > section > ul > li {
    display: inline-block;
}

nav.site-nav > section > ul > li:hover {
    background: green;
}

nav.site-nav > section > ul > li > a {
    text-decoration: none;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    color: green;
}

nav.site-nav > section > ul > li > a:hover {
    color: #f0f0f0
}


@media only screen and (min-width: 1010px) {
    body {
        background:
            repeating-radial-gradient(circle at bottom left,
                #007777 0, #007777 20%,
                #006666 0, #006666 40%,
                #005555 0, #005555 60%,
                #004444 0, #004444 80%,
                #003333 0, #003333 100%),
            repeating-radial-gradient(circle at top right,
                #fedc00 0, #fedc00 5.5555555556%,
                #fcb712 0, #fcb712 11.1111111111%,
                #f7921e 0, #f7921e 16.6666666667%,
                #e87f24 0, #e87f24 22.2222222222%, 
                #dd6227 0, #dd6227 27.7777777778%, 
                #dc4c27 0, #dc4c27 33.3333333333%, 
                #ca3435 0, #ca3435 38.8888888889%, 
                #b82841 0, #b82841 44.4444444444%, 
                #953751 0, #953751 50%, 
                #364c88 0, #364c88 55.5555555556%, 
                #16599d 0, #16599d 61.1111111111%, 
                #02609e 0, #02609e 66.6666666667%, 
                #0073a9 0, #0073a9 72.2222222222%, 
                #008aa4 0, #008aa4 77.7777777778%, 
                #239a87 0, #239a87 83.3333333333%, 
                #7cba6d 0, #7cba6d 88.8888888889%, 
                #becc2f 0, #becc2f 94.4444444444%, 
                #e0d81d 0, #e0d81d 100%);
        background-blend-mode: exclusion;
        min-height: 100vh;
    }

    #wrapper {
        padding: 0px 15px;
        display: table;
        margin: 0px auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    main, nav, footer {
        max-width: 800px;
        margin: 0 auto;
        padding-right: 248px;
    }

    footer, aside.danger {
        max-width: 1048px;
        padding-right: 0px;
    }

    aside, nav > section {
        width: 200px;
        float: right;
        clear: right;
        position: relative;
        margin-left: -233px;
        left: 248px;

        margin-bottom: 15px;
        overflow: auto;
    }

    aside.danger {
        width: calc(100% - 15px);
        float: unset;
        clear: both;
        margin-left: unset;
        left: unset;
        overflow: initial;
        padding-right: 248px !important;
    }

    nav.site-nav > section > ul {
        list-style: none;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 0px;
        padding-left: 0px;
        float: initial;
        position: initial;
        top: initial;
        right: initial;
    }

    nav.site-nav > section > ul > li {
        display: block;
        padding-left: 15px;
        padding-right: 0px;
    }

    nav.site-nav > section > ul > li > a {
        margin-left: -15px;
        padding-left: 15px;
        text-decoration: none;
        display: block;
    }

}

article > * {
    padding: 0 15px;
}

article > .highlighter-rouge {
    padding: 0 0;
    border-left: 3px solid dodgerblue;
}
article > .highlighter-rouge.language-escape {
    border-left: 3px solid grey;
}

article > ul, article > ol {
    margin:  0 15px;
    padding-bottom: 15px;
}

*:target {
    /*box-shadow: rgb(153, 153, 153) 0px 1px 5px;*/
}

article > h1, article > h2, article > h3, article > h4, article > h5, article > h6 {
    line-height: 1.1em;
    padding: 5px 15px 5px 12px;
    border-left: 3px solid green;
    display: block;
}

article > header {
    padding: 5px 15px 5px 0;
    border-left: 3px solid green;
}

article > header > h1 {
    margin: 0px;
    line-height: 1.1em;
    padding-left: 12px;
}

article > header > p {
    padding-left: 12px;
    margin-bottom: 0px;
    margin-top: .3em;
}

pre code {
    line-height: 1em;
    display: inline-block;
    padding: 15px;
    background: #f0f0f0;
    width: calc(100% - 33px);
    overflow-x: auto;
}

figure {
     border-bottom: 3px solid dodgerblue;
}

.avatar {
    border-radius: 2px;
}


.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f0f0f0; }
.highlight .c { color: #60a0b0; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #007020; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #60a0b0; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #007020 } /* Comment.Preproc */
.highlight .cpf { color: #60a0b0; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.highlight .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #007020 } /* Keyword.Pseudo */
.highlight .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #902000 } /* Keyword.Type */
.highlight .m { color: #40a070 } /* Literal.Number */
.highlight .s { color: #4070a0 } /* Literal.String */
.highlight .na { color: #4070a0 } /* Name.Attribute */
.highlight .nb { color: #007020 } /* Name.Builtin */
.highlight .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.highlight .no { color: #60add5 } /* Name.Constant */
.highlight .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #007020 } /* Name.Exception */
.highlight .nf { color: #06287e } /* Name.Function */
.highlight .nl { color: #002070; font-weight: bold } /* Name.Label */
.highlight .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #062873; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #bb60d5 } /* Name.Variable */
.highlight .ow { color: #007020; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #40a070 } /* Literal.Number.Bin */
.highlight .mf { color: #40a070 } /* Literal.Number.Float */
.highlight .mh { color: #40a070 } /* Literal.Number.Hex */
.highlight .mi { color: #40a070 } /* Literal.Number.Integer */
.highlight .mo { color: #40a070 } /* Literal.Number.Oct */
.highlight .sa { color: #4070a0 } /* Literal.String.Affix */
.highlight .sb { color: #4070a0 } /* Literal.String.Backtick */
.highlight .sc { color: #4070a0 } /* Literal.String.Char */
.highlight .dl { color: #4070a0 } /* Literal.String.Delimiter */
.highlight .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #4070a0 } /* Literal.String.Double */
.highlight .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #4070a0 } /* Literal.String.Heredoc */
.highlight .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.highlight .sx { color: #c65d09 } /* Literal.String.Other */
.highlight .sr { color: #235388 } /* Literal.String.Regex */
.highlight .s1 { color: #4070a0 } /* Literal.String.Single */
.highlight .ss { color: #517918 } /* Literal.String.Symbol */
.highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #06287e } /* Name.Function.Magic */
.highlight .vc { color: #bb60d5 } /* Name.Variable.Class */
.highlight .vg { color: #bb60d5 } /* Name.Variable.Global */
.highlight .vi { color: #bb60d5 } /* Name.Variable.Instance */
.highlight .vm { color: #bb60d5 } /* Name.Variable.Magic */
.highlight .il { color: #40a070 } /* Literal.Number.Integer.Long */
