<!DOCTYPE html>
<!--
    Hello
-->
<html>
    <head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimum-scale=0.86">
        <link rel="stylesheet" type="text/css" href="/assets/normalize.css">
        <link rel="stylesheet" type="text/css" href="/assets/main.css">
        <script type="text/javascript" src="/assets/anchor.min.js"></script>
    </head>
    <body>
        <nav class='site-nav'>
            <section>
	    	<h1>{{ site.title }}</h1>
		<p>{{ site.description }}</p>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </section>
        </nav>
        <main role="main">
<article>
{{ content }}
</article>
        </main>
	<footer>
	    <section>
		This is a footer
	    </section>
	</footer>
        <script type="text/javascript">
            anchors.add();
        </script>
    </body>
</html>
