<!DOCTYPE html>
<!--
    Hello
-->
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/assets/normalize.css">
        <link rel="stylesheet" type="text/css" href="/assets/main.css">
        <script type="text/javascript" src="/assets/anchor.min.js"></script>
    </head>
    <body>
        <nav>
            <section>
                <h1>EXDEV Link</h1>
                <p>Some text here.</p>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </section>
        </nav>
        <main role="main">
<article>
{{ content }}
</article>
        </main>
        <script type="text/javascript">
            anchors.add();
        </script>
    </body>
</html>